@import "tailwindcss";

@theme {
    --color-BgCap1: #11071a;
    --color-BgCap2: #19050f;
    --color-TextCap1: #d1aaf4;
    --color-TextCap2: #f49fce;
    --color-codeblock1: #2f2f2f;
    --color-codeblock2: #1c2120;
}